<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <link rel="stylesheet" href="../templates/css/non-formal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
</head>
<body>
    <div class="certificate-container">
        <div class="certificate">
            <div class="water-mark-overlay"></div>
            <div class="certificate-header">
                <div class="logo"></div>
            </div>
            <div class="certificate-body">
               
                <p class="certificate-title"><strong>{{title}}</h1>
                <br>
                <br>
                <p>
                    Dengan Bangga Diberikan Kepada :
                </p>
                <br>
                <p class="student-name">{{name}}</p>
                <div class="certificate-content">
                    <div class="about-certificate">
                    <p>
                    </p>
                    </div>
                    <p class="topic-title">
                        <br>
                    </p>
                    <div class="text-center">
                        <p class="topic-description text-muted">{{description}}</p>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="certificate-footer text-muted">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <p>
                                Accredited by
                            </p>
                            <p>
                                Accredited by
                            </p> -->
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        Panitia
                                    </p>
                                    <p>
                                        {{sign_panitia}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        Ketua Pelaksana
                                    </p>
                                    <p>
                                        {{sign_ketua}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>